<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="stylesheet" href='/css/styles.css'>
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This page is created by Rushikesh Jalvi. It uses mapbox.com and weatherstack.com api.</p>
        </div>
        {{>footer}}
    </body>
</html>